@import "../variables.scss";
.container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  // gap: 30px;
  // border: 1px solid blue;
}
.chip {
  background-color: $surface-200;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: $surface-300;
  margin-inline: auto; /* Horizontally center the container */
}
.namesContainer {
  font-weight: 400;
  text-align: center;
  color: "white";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-500;
  // position: absolute;
}

@media (min-width: $md) {
  .container {
    max-width: $md;
  }
  .chip {
    padding: 0.8rem 1.5rem;
    font-size: 18px;
  }
}
