@import "../variables.scss";
.container {
  display: flex;
  align-items: center;
  padding: 0 4%;
  flex-wrap: wrap;
  gap: 30px;
  // border: 1px solid blue;
}
.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: $surface-200;
  margin-inline: auto; /* Horizontally center the container */
}
.iconContainer {
  // border: 1px solid red;
}
.namesContainer {
  font-weight: 400;
  text-align: center;
  color: "white";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-600;
  // position: absolute;
}
