@import "../css/variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: $surface-100;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid $surface-100;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  all: unset;
  border-style: none;
}
html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $surface-100;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
