@import "./variables.scss";
.container {
  display: flex;
  flex-direction: column;
  min-height: 80svh;
  height: 100%;
  padding: 10% 5%;
  // border: 1px solid red;
  overflow: hidden;
}
.headerContainer {
  text-align: left;
  margin-bottom: 5%;
  h1 {
    font-weight: 500;
    span {
      color: $primary-400;
      // font-style: italic;z
      // font-size: 2.5rem;
    }
  }
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid $primary-500;
  height: 275px;
  width: 275px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10%;
}
.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: $surface-600;
  text-align: start;
  p {
    font-size: clamp(1.1rem, 0.9167rem + 0.3819vw, 1.375rem);
    font-weight: 300;
  }
}
@media (min-width: $md) {
  .container {
    padding: 5% 10%;
  }
  .imageContainer {
    position: relative;
    top: 3rem;
    width: 300px;
    height: 300px;
    margin-right: 10%;
  }
  .headerContainer {
    h1 {
      font-size: 2.3rem;
    }
  }
  .contentContainer {
    flex-direction: row;
  }
  .textContainer {
    max-width: 50%;
  }
}
@media (min-width: $xl) {
  .container {
    padding: 5% 18%;
  }
  .contentContainer {
    // border: 1px solid red;
    // width: 90%;
    // justify-content: space-between;
    // gap:;
    align-items: center;
    // gap: 8rem;
    .textContainer {
      // padding-right: 8rem;
    }
  }
  .imageContainer {
    width: 350px;
    height: 350px;
  }
}
