@import "./variables.scss";
.container {
  height: 100%;
  // border: 1px solid red;
  padding: 5% 5%;
  overflow: hidden;
  // margin-bottom: 10%;
}
.headerContainer {
  text-align: center;
  margin-bottom: 5%;
  h1 {
    font-weight: 500;
    span {
      color: $primary-400;
    }
  }
}
.projectMobileContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.projectFullContainer {
  display: none;
  flex-direction: column;
  padding: 0 10%;
  align-items: center;
  gap: 3rem;
}

@media (min-width: $md) {
  .projectMobileContainer {
    display: none;
  }
  .projectFullContainer {
    display: flex;
    // border: 1px solid red;
  }
}
