@import "./variables.scss";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // border: 1px solid red;
  padding: 10% 5%;
  overflow: hidden;
  // margin-bottom: 10%;
}
.headerContainer {
  text-align: left;
  margin-bottom: 5%;
  h1 {
    font-weight: 500;
    span {
      color: $primary-400;
    }
  }
}
.projectMobileContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.projectFullContainer {
  display: none;
  flex-direction: column;
  // padding: 0 10%;
  align-items: center;
  gap: 3rem;
}

@media (min-width: $md) {
  .projectMobileContainer {
    display: none;
  }
  .projectFullContainer {
    display: flex;
    // border: 1px solid red;
  }
  .container {
    padding: 5% 10%;
  }
  .headerContainer {
    text-align: left;
    h1 {
      font-size: 2.3rem;
    }
  }
}
@media (min-width: $xl) {
  .container {
    padding: 5% 18%;
  }
}
