@import "./variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
  gap: 3rem;
}
.title {
  display: flex;
  align-items: center;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.summaryContainer {
  p {
    color: $surface-600;
    font-size: clamp(1rem, 0.8333rem + 0.3472vw, 1.25rem);
  }
}
.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .skillsFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    .iconStyle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $surface-200;
      padding: 10px;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      border: 2px solid $surface-400;
    }
  }
}
.metaContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 1rem;
  a {
    // border: 1px solid red;
    font-size: clamp(1rem, 0.9375rem + 0.25vw, 1.125rem);
    cursor: pointer;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    gap: 10px;
    background-color: $primary-300;
    box-shadow: 0 4px 15px 0 $primary-300;
  }
}
.buttonStyle {
  padding: 0.3rem 0.5rem;
  color: $surface-100;
  font-weight: 400;
  border-radius: 40px;
  background-color: $primary-600;
}
@media (min-width: $lg) {
  .container {
    // justify-content: center;
    // align-items: center;
    // border: 1px solid blue;
    padding: 5% 18%;
  }
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .summaryContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    p {
    }
  }
  .metaContainer {
    a {
      padding: 1rem;
    }
  }
}
