@import "./variables.scss";
.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  min-height: 50svh;
  height: 100%;
  padding: 0 5%;
  // border: 1px solid red;
}
.headerContainer {
  // text-align: left;
  text-align: center;
  margin-bottom: 5%;
  h1 {
    font-weight: 500;
    span {
      color: $primary-400;
    }
  }
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  // flex-direction: column;
}
@media screen and (min-width: $md) {
  .container {
    padding: 0 10%;
  }
  .headerContainer {
    // text-align: left;
    h1 {
      font-size: 2.5rem;
    }
  }
}
@media screen and (min-width: $xl) {
  .container {
    padding: 0 15%;
  }
}
